@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&family=Rubik:wght@300;400;600;700&display=swap');
/* Common Css */
*{margin: 0;padding: 0;}
body { font-family: 'Montserrat', sans-serif; font-size: 18px; line-height: 30px;color: #13132E;}
a{text-decoration: none;}
img{max-width: 100%;vertical-align: middle;}
.container{max-width: 1300px;margin: 0 auto;}
.flex{display: flex;}
.align-center{align-items: center;}
ul{list-style: none;}
.primary-btn {
    background: transparent linear-gradient(180deg, #09D900 0%, #09D900 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 13px #09d90069;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

/* Header */
header.header { padding: 30px 0;}
header.header .container { justify-content: space-between; }
.navigation { margin-left: 70px; }
.navigation ul li a { text-transform: uppercase; margin-right: 50px; font-family: 'Rubik', sans-serif; color: #13132E; }
.navigation ul li.active a { font-weight: 700; }
a.search { margin-right: 30px; color: #000; }
.logo img { max-width: 180px; width: 100%; }


/* Footer */
footer.footer { background-color: #13132E; padding: 100px 0 25px; }
.newsletter-wrapper { text-align: center; margin-bottom: 50px; }
.newsletter-wrapper h2 { color: #fff; font-size: 35px; line-height: 45px; margin-bottom: 30px; }
.newsletter { position: relative; width:65%; margin: 0 auto; display: flex; }
.newsletter input[type="text"] { width: 100%; border: 1px solid #FFFFFF; border-radius: 38px; padding: 15px; background-color: transparent; color: #fff; font-size: 18px; line-height: 25px; }
.newsletter input[type="text"]::placeholder { color: #fff; }
.newsletter input[type="submit"] { position: absolute; right: 5px; top: 5px; bottom: 5px; }
.footer-widget { justify-content: space-between;margin-top: 80px; color: #fff; }
.footer-widget .footer { width: 15%; }
.footer-widget .footer2 { width: 70%; padding: 0 10%; display: flex; justify-content: space-between; }
.footer-widget .footer h3 { margin-bottom: 30px; font-weight: 400; font-size: 25px; line-height: 35px; }
.footer-widget .footer ul li { margin-bottom: 20px; }
.footer-widget .footer ul li a { color: #fff; font-size: 20px; line-height: 30px; }
.copyright { border-top: 1px solid #f1f1f138; margin-top: 30px; text-align: center; padding-top: 25px; color: #fff; }

/* Banner */
.banner { display: flex; align-items: center; justify-content: space-between; padding: 50px 20px; box-shadow: 0 18px 30px -20px #000; border-radius: 20px;}
.banner >*{ width: 45%; }
.banner .info-wr img { width: 100px; height: 100px; border-radius: 50%; padding: 10px; box-shadow: 0 0 10px #000; }
.banner h1 { font-size: 60px; font-weight: 500; line-height: 70px; margin: 0 0 30px; }
.image-wr { text-align: center; }
.image-wr>img { max-height: 400px; }



section.product-wrapper { padding: 100px 0; }
.collection-head { display: flex; align-items: center; justify-content: space-between; margin-bottom: 30px; }
.primary-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00E640;
    color: #fff;
    border: none;
    font-size: 18px;
    line-height: 26px;
    border-radius: 30px;
    text-align: center;
}
.filter select { width: 175px; height: 60px; }
.products { display: flex; flex-wrap: wrap; justify-content: space-between; }
.products>.product,.recent-slider .recents,.banner-wr .slider-wr .product { width: 30%; padding: 10px; border-radius: 10px; margin-bottom: 40px; background: #FFFFFF; box-shadow: 0px 4px 15px #0000003d; }
.banner-wr .slider-wr .product { width: 85%; margin: 50px 20px !important; }
.products>.product>img, .recent-slider .recents >img { object-fit: cover;border-radius: 10px; box-shadow: 0 0 10px #000; min-height: 400px; height: 400px; width: 100%; }
.product-info { position: relative; padding: 30px 10px 0; }
.product-info>img,.recent-slider .recents .product-info>img.auth { width: 40px; height: 40px; border-radius: 50%; padding: 5px; box-shadow: 0 0 10px;right: 20px; }
span.sku { background-color: #fff; display: inline-block; border-radius: 20px; padding: 5px 15px; font-size: 15px; line-height: 25px;left: 20px;box-shadow: 0 0 10px; }
.product-info .topmove { position: absolute; top: -15px; }
.product-info img.auth.topmove { top: -25px; background: #fff; }
p.cat { font: normal normal 600 16px/26px Montserrat; text-transform: uppercase; color: #949494; }
p.type { font: normal normal 500 16px/25px Rubik; color: #13132E; }
.token__info h4,.product-info h3 { font: normal normal bold 20px/30px Montserrat; color: #13132E; }
.pagination { display: flex; justify-content: center; align-items: center; margin-top: 30px; }
.pagination a.btn { background-color: #1cdc14; color: white; border-radius: 8px; padding: 10px 15px; }
.pagination a { color: #C4C4C4; float: left; padding: 8px 16px; text-decoration: none; transition: background-color .3s; }
.pagination a.active, .pagination a:hover:not(.active) { color: #13132E; font-weight: 600; }
.product-count { color: #13132E; font-size: 18px; line-height: 30px; }

section.faq-wrapepr { padding: 100px 0; }
.faq-info h2 { font-size: 50px; text-transform: uppercase; margin-bottom: 20px; font-weight: 500; color: #13132E; line-height: 60px; }
span.sku { font: normal normal bold 16px/25px Montserrat; color: #13132E; }
.faq-info { width: 50%; }
.faq-info p { font-weight: 500; }
.accordion {
    color: #13132E;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
    line-height: 35px;
    text-transform: uppercase;
    background: transparent;
    font-weight: 500;
}
.accordion:after {content: '\002B';color: #777;font-weight: bold;float: right;margin-left: 5px;}
.focus:after {content: "\2212";}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #6E6E6E;
    font-weight: 500;
}
.pb-20{padding-bottom: 20px;}

.faqs { padding: 20px 20px 20px 70px; }
.faq-wrapepr .container { display: flex; justify-content: space-between; align-items: center; }
.faq { border-top: 1px solid #ccc; }
.faq:first-child { border: none; }




/*********/
.collectionpage .banner { background-color: #1cdc14; color: #fff; }
.secondary-btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    color: #000;
    margin-top: 30px;
    border-radius: 30px;
    text-transform: uppercase;
}
.video-wr { position: relative; }


.video-wr i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    color: #000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    text-align: center;
    line-height: 100px;
}




section.divide-sec { position: relative; margin: 130px 0; padding-top: 100px; }
section.divide-sec::before, section.divide-sec::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #1cdc14;
    top: 0;
}
.sec-head { text-align: center; position: absolute; left: 0; right: 0; top: -25px; z-index: 1; }
.sec-head>span {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    background: #F2FBF6;
    border: 1px solid #00E640;
}

.frame-boxes { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: self-start; background: #FFFFFF; box-shadow: inset 0px -6px 24px #00000029; border-radius: 30px; padding: 30px; }
.frame-boxes .box { width: 29%; background-color: #1cdc14; padding: 20px; border-radius: 20px; }
.frame-boxes .box>h5 { color: #fff; font-size: 22px; line-height: 30px; margin-bottom: 10px; }
.frame-boxes .box ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    font: normal normal bold 18px/28px Montserrat;
    letter-spacing: 0px;
    color: #13132E;
}
.frame-boxes .box ul li span { background-color: #FFC61F; font-size: 14px; padding: 3px 12px; border-radius: 25px; font-weight: 700; }


.image-with-text { display: flex; align-items: center; justify-content: space-between; }
.image-with-text>* { width: 48%; }
.image__wr>img {width: 60%; object-fit: cover; }
.content__wr ul li { margin-bottom: 15px; }
.image-with-text.image-right { flex-direction: row-reverse; }



/********************************/
section.token-wrapper { margin: 100px 0; }
.token__wr { display: flex; flex-wrap: wrap; }
section.token-wrapper h1 { text-align: center; font-weight: 400; text-transform: uppercase; position: relative; margin-bottom: 70px; padding: 10px 0; }
section.token-wrapper h1::after, section.token-wrapper h1::before {
    position: absolute;
    content: '';
    background-color: #1cdc14;
    width: 150px;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
section.token-wrapper h1::after{top: 0;}
section.token-wrapper h1::before{bottom: 0;}
.token__wr .token>img { border-radius: 10px; min-height: 355px; object-fit: cover; }
.token__wr .token {
    width: 21%;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.35s ease-out;
    margin: 0 1% 2%;
    border: 1px solid #BBBBBB;
}
.token__wr .token:nth-child(4n) { margin-right: 0; }
.token__info { padding: 10px 15px 0; background-color: #fff; }
.token__info a.move-btn { position: absolute; left: 15px; right: 15px; bottom: -50px; }
.token__wr .token:hover .token__info { transform: translateY(-50px); transition: all 0.35s ease-in; }


/******************************************/
.product-with-sidebaar .container { display: flex; justify-content: space-between; }
.collection-sidebar { width:22%; }
 .products__wr { width: 75%; }

.collection-sidebar .sidebar { margin-bottom: 20px; }
.collection-sidebar .sidebar h3 { font-weight: 500; margin-bottom: 15px; text-transform: uppercase; }
.collection-sidebar .sidebar ul.check, .collection-sidebar .sidebar ul.cat { padding: 10px; border: 1px solid #ccc; }
.collection-sidebar .sidebar ul.check li { display: flex; justify-content: space-between;font-size: 16px; line-height: 25px; margin-bottom: 5px; } 
.collection-sidebar .sidebar ul.check li input { margin-right: 5px; }
.collection-sidebar .sidebar ul.tags li { display: inline-block; border: 1px solid #ccc; border-radius: 20px; padding: 5px 12px; margin-bottom: 10px; }
.collection-sidebar .sidebar.search { position: relative; }
.collection-sidebar .sidebar.search input { border: 1px solid #ccc; width: 92%; height: 35px; padding: 10px; font-size: 18px; line-height: 35px; }
.collection-sidebar .sidebar.search button { border: none; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: transparent; appearance: none; }
.collection-sidebar .sidebar.search button i { font-size: 20px; color: #09d900; background: transparent; }
.collection-sidebar .sidebar ul.cat span { display: inline-block; width: 20px; height: 20px; vertical-align: middle; border-radius: 50%; border: 1px solid #ccc; margin-right: 10px; }
.product-with-sidebaar p.cat { color: #23B6E1; }
span.filter-wr { display: none; }





section.recenet-activity { margin: 100px 0; }
.recent-slider .recents { width: 90%; } 
.recenet-activity .container { display: flex; justify-content: space-between; align-items: center; margin-bottom: 50px; }
.recenet-activity .custom-nav button { background: #09D900 !important; border-radius: 10px !important; appearance: none; border: none; font-size: 30px !important; padding: 5px 10px !important; line-height: 40px; }
.timeline a.primary-btn { margin-top: 50px; }
.timeline { text-align: center; }
marquee.bg_prim { background: #09D900; color: #fff; padding: 20px 0; }

/*****************/
.banner-wr { display: flex; align-items: center; }
.banner-wr .heading-wrapper { width: 50%; padding-left: 2%; }
.banner-wr .slider-wr { width: 60%; }
.banner-wr .slider-wr .product { margin: 0 20px; }
.banner-wr .slider-wr .product img.auth { width: 40px; height: 40px; }


.banner-wr .slider-wr .owl-item.active.center { transform: scale(1.5); margin: 0 75px; }
.banner-wr .slider-wr .owl-item.cloned { height: 0; }
.banner-wr .slider-wr .products.owl-carousel.owl-loaded.owl-drag .owl-stage { padding: 100px 0; }
.banner-wr .heading-wrapper h1 { font-size: 60px; line-height: 70px; font-weight: 500; }
.btn-wr a.primary-btn { margin-right: 10px; border-color: #00E640; }
.btn-wr > a { border: 1px solid; }
.banner-wr .heading-wrapper h1>span { color: #09D900; display: block; }
.banner-wr .slider-wr .product img.auth { left: 25px; padding: 2px; }

/************************/
section.blog-wrapper .container { display: flex; justify-content: space-between; align-items: self-start; }
section.blog-wrapper.divide-sec { margin: 130px 0 100px; }
section.blog-wrapper .container>* { width: 50%; position: relative; }
section.blog-wrapper .container>* .sec-head { top: -125px; }
.price-section { display: flex; flex-wrap: wrap; width: 70% !important; }
.price-section .price-wr { display: flex; width: 48%; border-bottom: 1px solid; margin-bottom: 20px; padding-bottom: 20px; align-items: center; }
.price-section .price-wr img { width: 45%; margin-right: 5%; }
.blog-section::after { position: absolute; content: ''; border-right: 1px solid #09d900; right: 40px; top: -100px; bottom: -100px; }

.blog-section .blog { width: 90%; margin-bottom: 50px; }
.blog-section .blog> .blog-img { padding: 0; }
.blog-section .blog>* { padding: 0 15px; }
.blog-section .blog h3 { font-weight: 600; }
.blog-section .blog>span { margin: 10px 0; display: block; color: #4bc985;text-transform: uppercase; }
.blog-section .blog span.date { color: #46c1e6; font-size: 15px; }
.blog-section .blog>a {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 25px;
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
}
.price-section .price-wr a.primary-btn {
    padding: 8px 25px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #00E640;
    color: #00E640;
    text-transform: uppercase;
}